<div id="page" ng-controller="MainCharactersCtrl">
    <div id="menu" class="navbar navbar-default navbar-fixed-top">
        <header class="container">
            <div class="navbar-header">
                <a href='../' class="navbar-brand">Marvel Universe</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="../">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
    </div>

    <section id="body" class="container">

        <section id="main" class="col-md-12 col-sm-8">
            <ul class="row list-unstyled list-inline" >
                <li ng-repeat="character in characters" class="col-md-4">
                    <div class="session">
                        <h4>{{character.name}}</h4>
                        <p>
                            <img class="img-thumbnail img-responsive" ng-src="{{character.thumbnail.path}}/landscape_large.{{character.thumbnail.extension}}">
                        </p>
                        <p class="text-left">{{character.description}}</p>
                    </div>
                </li>
            </ul>
        </section>


    </section>
    <hr />
    <footer class="container">
        <p>Information courtesy of <a href="http://www.marvel.com/">Marvel</a>.</p>
    </footer>
</div>
